/*
    =======================================================================

    Payment history modal.

    =======================================================================
 */
#resursbank-payment-history-modal-content {
    text-align: left;
}

#resursbank-payment-history-modal-content .buttons {
    padding: 100px 0 10px 0;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}

#resursbank-payment-history-modal-content .subtitle .section .header {
    font-size: 15px;
    font-weight: bold;
    color: #8c8c8c;
    margin-bottom: 5px;
}

#resursbank-payment-history-modal-content .subtitle .section:nth-child(1n+2) {
    margin-top: 20px;
}

#resursbank-payment-history-modal-content table {
    width: 100%;
}

#resursbank-payment-history-modal-content td,
#resursbank-payment-history-modal-content th {
    padding: 10px;
}

#resursbank-payment-history-modal-content tr:nth-of-type(2n+1) td {
    background-color: #f1f1f1;
}

/*
    =======================================================================

    Order payment information

    =======================================================================
 */
.resursbank-ordermanagement-payment-information {
    background-color: #afe3f9;
}

.resursbank-ordermanagement-payment-information .resursbank-logo {
    margin-right: 10px;
}

.resursbank-ordermanagement-payment-information .resursbank-logo > .img {
    background-image: url(i/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: calc(340px / 4);
    height: calc(120px / 4);
}

.resursbank-ordermanagement-payment-information .admin__table-secondary tbody tr th,
.resursbank-ordermanagement-payment-information .admin__table-secondary tbody tr td {
    color: black;
    width: 50%;
}

.resursbank-ordermanagement-payment-information .admin__table-secondary tbody tr:nth-child(odd) th,
.resursbank-ordermanagement-payment-information .admin__table-secondary tbody tr:nth-child(odd) td {
    background:#85CAE8;
    padding-left: 10px;
    padding-right: 10px;
}

.resursbank-ordermanagement-payment-information .admin__page-section-item-title {
    padding-left: 10px;
    margin-top: 30px;
}

.resursbank-ordermanagement-payment-information .admin__page-section-title {
    padding-left: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resursbank-ordermanagement-payment-information .admin__page-section-title .title {
    width: 100%;
    float: unset;
}
