<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <resursbank_default>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_capture_partial>1</can_capture_partial>
            </resursbank_default>
        </payment>
        <resursbank>
            <aftershop>
                <enabled>1</enabled>
            </aftershop>
        </resursbank>
    </default>
</config>
