<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Callback interface. -->
    <preference for="Resursbank\Ordermanagement\Api\CallbackInterface" type="Resursbank\Ordermanagement\Model\Callback" />

    <!-- Payment method configuration. -->
    <type name="Resursbank\Core\Model\Payment\Resursbank">
        <arguments>
            <argument name="commandPool" xsi:type="object">
                ResursbankGatewayCommandPool
            </argument>
        </arguments>
    </type>

    <!-- Gateway command pool configuration. -->
    <virtualType
        name="ResursbankGatewayCommandPool"
        type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">
                    Resursbank\Ordermanagement\Gateway\Command\Capture
                </item>
                <item name="cancel" xsi:type="string">
                    Resursbank\Ordermanagement\Gateway\Command\Cancel
                </item>
                <item name="void" xsi:type="string">
                    Resursbank\Ordermanagement\Gateway\Command\Cancel
                </item>
                <item name="refund" xsi:type="string">
                    Resursbank\Ordermanagement\Gateway\Command\Refund
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Callback queue -->
    <preference for="Resursbank\Ordermanagement\Api\Data\CallbackQueueInterface" type="Resursbank\Ordermanagement\Model\CallbackQueue" />

    <!-- Payment History -->
    <preference for="Resursbank\Ordermanagement\Api\Data\PaymentHistoryInterface" type="Resursbank\Ordermanagement\Model\PaymentHistory" />
    <preference for="Resursbank\Ordermanagement\Api\PaymentHistoryRepositoryInterface" type="Resursbank\Ordermanagement\Model\PaymentHistoryRepository" />
    <preference for="Resursbank\Ordermanagement\Api\Data\PaymentHistorySearchResultsInterface" type="Resursbank\Ordermanagement\Model\PaymentHistory\SearchResults" />

    <preference
        for="Magento\Sales\Api\OrderRepositoryInterface"
        type="Magento\Sales\Model\OrderRepository"
    />
    <preference
        for="Magento\Store\Model\StoreManagerInterface"
        type="Magento\Store\Model\StoreManager"
    />
    <preference
        for="Magento\Framework\Pricing\PriceCurrencyInterface"
        type="Magento\Directory\Model\PriceCurrency"
    />

    <!-- Prevent order confirmation email from being sent upon order creation. -->
    <type name="Magento\Sales\Model\Order">
        <plugin
            name="resursbank_ordermanagement_stop_order_confirmation_email"
            type="Resursbank\Ordermanagement\Plugin\Order\StopConfirmationEmail" />
    </type>

    <!-- Display Resurs Bank payment info on order / invoice view. -->
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin
            name="resursbank_ordermanagement_block_adminhtml_sales_order_view_info_after_to_html"
            type="Resursbank\Ordermanagement\Plugin\Block\Adminhtml\Sales\Order\View\AppendPaymentInfo"
        />
    </type>

    <!-- Append module version info to API call user agent header. -->
    <type name="Resursbank\Core\Helper\Api">
        <plugin
            name="resursbank_ordermanagement_api"
            type="Resursbank\Ordermanagement\Plugin\Helper\Api" />
    </type>
</config>
