<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Callback interface. -->
    <preference for="Resursbank\Ordermanagement\Api\CallbackInterface" type="Resursbank\Ordermanagement\Model\Callback" />

    <!-- Payment method configuration. -->
    <type name="Resursbank\Core\Model\Payment\Resursbank">
        <arguments>
            <argument name="commandPool" xsi:type="object">
                ResursbankGatewayCommandPool
            </argument>
        </arguments>
    </type>

    <!-- Gateway command pool configuration. -->
    <virtualType
        name="ResursbankGatewayCommandPool"
        type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">
                    Resursbank\Ordermanagement\Gateway\Command\Capture
                </item>
                <item name="cancel" xsi:type="string">
                    Resursbank\Ordermanagement\Gateway\Command\Cancel
                </item>
                <item name="refund" xsi:type="string">
                    Resursbank\Ordermanagement\Gateway\Command\Refund
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Payment History -->
    <preference for="Resursbank\Ordermanagement\Api\Data\PaymentHistoryInterface" type="Resursbank\Ordermanagement\Model\PaymentHistory" />
    <preference for="Resursbank\Ordermanagement\Api\PaymentHistoryRepositoryInterface" type="Resursbank\Ordermanagement\Model\PaymentHistoryRepository" />
    <preference for="Resursbank\Ordermanagement\Api\Data\PaymentHistorySearchResultsInterface" type="Resursbank\Ordermanagement\Model\PaymentHistory\SearchResults" />
</config>
