<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Callback interface. -->
    <preference for="Resursbank\Ordermanagement\Api\CallbackInterface" type="Resursbank\Ordermanagement\Model\Callback" />

    <!-- Payment History -->
    <preference for="Resursbank\Ordermanagement\Api\Data\PaymentHistoryInterface" type="Resursbank\Ordermanagement\Model\PaymentHistory" />
    <preference for="Resursbank\Ordermanagement\Api\PaymentHistoryRepositoryInterface" type="Resursbank\Ordermanagement\Model\PaymentHistoryRepository" />
    <preference for="Resursbank\Ordermanagement\Api\Data\PaymentHistorySearchResultsInterface" type="Resursbank\Ordermanagement\Model\PaymentHistory\SearchResults" />
</config>
