<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer
            name="resursbank_ordermanagement_payment_history_entry"
            instance="Resursbank\Ordermanagement\Observer\RedirectToGateway"
        />
    </event>
    <event name="resursbank_book_signed_payment_before">
        <observer
            name="resursbank_ordermanagement_create_payment_history_entry_for_payment"
            instance="Resursbank\Ordermanagement\Observer\Payment"
        />
    </event>
    <event name="resursbank_book_signed_payment_after">
        <observer
            name="resursbank_ordermanagement_create_payment_history_entry_for_payment"
            instance="Resursbank\Ordermanagement\Observer\Payment"
        />
    </event>
</config>
