<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="resursbank_section">
                <group id="api">
                    <field id="registration" type="button" sortOrder="5" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <comment>Callbacks are handled by cron, please ensure that cron is active.</comment>
                        <label>Callback registration</label>
                        <frontend_model>Resursbank\Ordermanagement\Block\Adminhtml\System\Config\Callback\Registration</frontend_model>
                        <config_path>resursbank/callbacks/registration</config_path>
                        <depends>
                            <field id="flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="ordermanagement" type="select" sortOrder="7" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Order management</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>resursbank/aftershop/enabled</config_path>
                    </field>
                </group>
                <group id="callbacks" sortOrder="4" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Callback Settings</label>
                    <field id="test" type="button" sortOrder="1" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Test callbacks</label>
                        <frontend_model>Resursbank\Ordermanagement\Block\Adminhtml\System\Config\Callback\Test</frontend_model>
                        <config_path>resursbank/callbacks/test</config_path>
                        <depends>
                            <field id="*/resursbank_section/api/flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="test_triggered_at" type="text" sortOrder="2" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Test last triggered at</label>
                        <frontend_model>Resursbank\Ordermanagement\Block\Adminhtml\System\Config\Callback\TestTriggeredAt</frontend_model>
                        <config_path>resursbank/callbacks/test_triggered_at</config_path>
                        <depends>
                            <field id="*/resursbank_section/api/flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="test_received_at" type="text" sortOrder="3" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Test last received at</label>
                        <frontend_model>Resursbank\Ordermanagement\Block\Adminhtml\System\Config\Callback\TestReceivedAt</frontend_model>
                        <config_path>resursbank/callbacks/test_received_at</config_path>
                        <depends>
                            <field id="*/resursbank_section/api/flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="url_list" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Resursbank\Ordermanagement\Block\Adminhtml\System\Config\Callback\Listing</frontend_model>
                        <config_path>resursbank/callbacks/url_list</config_path>
                        <depends>
                            <field id="*/resursbank_section/api/flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                </group>
                <group id="advanced">
                    <group id="ordermanagement" type="text" sortOrder="10" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Order Management</label>
                        <field id="auto_invoice" type="select" sortOrder="0" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Automatically create invoices</label>
                            <comment>Automatically create invoice when an order obtains the status 'resursbank_finalized'.</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>resursbank/advanced/auto_invoice</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
