<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="resursbank_section">
                <group id="resursbank">
                    <group id="resursbank_ordermanagement" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Resursbank Ordermanagement</label>
                        <field id="aftershop" type="select" sortOrder="4" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Aftershop enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>resursbank/ordermanagement/aftershop</config_path>
                        </field>
                        <field id="debug" type="select" sortOrder="4" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Debug enabled</label>
                            <comment>Log entries will be stored in var/log/resursbank_ordermanagement.log.</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>resursbank/ordermanagement/debug</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
